
/* *********************************************
*                   WITHDRAW                   *
***********************************************/

.withdraw-section {
    margin-bottom: 20px;
}

.withdraw-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    background: white;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.withdraw-row .currency-selector {
    flex-shrink: 0;
}

.activate-withdraw {
    margin: 5px;
}

/* *********************************************
*                    HEDGE                     *
***********************************************/

.hedge-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(240, 240, 240);
    border-radius: 8px;
    padding: 8px;
    /* border: 1px solid black; */
}

.hedge-option label {
    font-size: 14px;
    color: #333;
}

.hedge-left {
    display: flex;
    flex-direction: row;
}

.hedge-option {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* *********************************************
*                   CHECKBOX                   *
***********************************************/

.custom-checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
    background-color: white;
    /* border-radius: 4px; */
    cursor: pointer;
    position: relative;
    margin: 10px;
    transform: scale(1.5);
    display: flex;
    align-items: center;
}

.custom-checkbox:checked {
    background-color: #ff5d00;
    border-color: #ff5d00;
}

.custom-checkbox:checked::after {
    content: '✓';
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* *********************************************
*                   REWARD                     *
***********************************************/

.reward-net {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.reward-label {
    display: block;
    font-size: 11px;
    color: #666;
    margin-bottom: 2px;
    text-align: center;
}

.reward-value {
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: #2ecc71;
    line-height: 1;
}

.rewards-info {
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 20px;
}

.rewards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.rewards-details {
    display: none;
    padding: 15px;
    border-top: 1px solid #eee;
    font-size: 14px;
    color: rgba(136, 136, 136, 1.00);
}

.rewards-details.visible {
    display: block;
}

/* *********************************************
*                   SLIDER                     *
***********************************************/

#slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 12px;
}

#slider-title {
    text-align: center;
    color: #666;
    font-size: 12px;
    margin-top: 0;
}

#serrated-slider {
    width: 200px;
    height: 3px;
    background: #eee;
    border: none;
    margin: 0;
}

#slider-value {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
}

#serrated-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff5d00;
    border: none;
    top: -4px;
    cursor: pointer;
    margin-left: -5px;
}

.tick-mark {
    position: absolute;
    width: 2px;
    height: 10px;
    background: #ddd;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
