[submodule "contracts/euler-vault-kit"]
	path = contracts/euler-vault-kit
	url = git@github.com:euler-xyz/euler-vault-kit.git
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
